<!-- Show it when there is no employee -->
<div class="no-data text-center" *ngIf="Event.length == 0" align = "center">
  <p>Let me find you some events to confirm ...</p>
</div>

<!-- Employees list table, it hides when there is no employee -->
<div *ngIf="Event.length !== 0" align = "center">
  <h3 class="mb-3 text-center">Events to Confirm</h3>

  <div class="col-md-12" >
    <table class="table table-bordered" style="display: inline-block; float:center;">
      <thead>
      <tr>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of Event">
      <b>Event ID</b>
        <td> {{event.id}}</td>
      <b>Event Name</b>
        <td> {{event.name}}</td>
      <b>Event Requestor</b>
        <td> {{event.requestor}}</td>
        <b>Event Room</b>
        <td> {{event.room}}</td>
      <b>Event Start Time</b>
        <td> {{event.startTime}}</td>
      </tbody>
    </table>
  </div>
</div>
